@import (reference) './../index.less';

.container {
  grid-column: 1 / span 24;
  height: 100%;
  transition: 1s;

  @media @tablet {
  }
  @media @laptop {
    grid-column: 2 / span 22;
  }
  @media @desktop {
    grid-column: 2 / span 22;
  }
  @media @desktop-large {
    grid-column: 4 / span 18;
  }
}
